name: Go

on:
  push:
    tags:
      - v*

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      BINARY_NAME: "checker"

    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get Branch
        run: |
          branch=$( echo ${{ github.ref }} | sed 's/^.*\/.*\///g')
          echo ::set-env name=VERSION::$branch

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build
        run: go build -v -i -ldflags "-X my/checker/config.Version=${{ env.VERSION }} -X my/checker/config.VersionSHA=${GITHUB_SHA} -X my/checker/config.VersionBuild=${GITHUB_RUN_ID}" -o build/${{ env.BINARY_NAME }}

      - name: Compress binary
        run: tar -czvf ${{ env.BINARY_NAME }}-${{ env.VERSION }}-linux-amd64.tgz -C build ${{ env.BINARY_NAME }}

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.BINARY_NAME }}-${{ env.VERSION }}-linux-amd64.tgz
          path: ${{ env.BINARY_NAME }}-${{ env.VERSION }}-linux-amd64.tgz

      - name: Build and push Docker images
        uses: docker/build-push-action@v1.1.0
        with:
          username: ${{ secrets.REGISTRY_LOGIN }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
          repository: ${{ secrets.REGISTRY_LOGIN }}/checker
          tag_with_ref: true
          tag_with_sha: true

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ env.BINARY_NAME }}-${{ env.VERSION }}-linux-amd64.tgz
          asset_name: ${{ env.BINARY_NAME }}-${{ env.VERSION }}-linux-amd64.tgz
          tag: ${{ github.ref }}
          overwrite: true
          body: "Checker release ${{ env.VERSION  }}"
        env:
          BINARY_NAME: "checker"